<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <title>Bento Benack</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/profile.jpeg" alt="Profile Image">
            <h1>Bento Benack</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/bentobenack/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/bentobenack">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://twitter.com/bentobenack">
                    <i class="bi bi-twitter"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/bentobenack/">
                    <i class="bi bi-instagram"></i>
                </a>

            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#home">
                    <i class="bi bi-house" aria-hidden="true"></i> Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#about">
                    <i class="bi bi-person" aria-hidden="true"></i> About</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#skills">
                    <i class="bi bi-list-check" aria-hidden="true"></i> Skills</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#resume">
                        <i class="bi bi-file-earmark" aria-hidden="true"></i> Resume</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">
                        <i class="bi bi-collection" aria-hidden="true"></i> Portfolio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        <i class="bi bi-envelope" aria-hidden="true"></i> Contact</a>
                </li>

              </ul>
        </nav>
    </aside>

    <main id="main">
        
        <section id="home" class="row m-0 p-0">
            <div class="col-md-10 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-shadow">Bento Benack</h2>
                <span id="subtitle1" class="text-shadow">a T-Shaped</span>
                <h3 class="text-shadow"><span id="subtitle2" class="text-shadow">T-Shaped</span> Data Scientist</h3>
                <span id="subtitle3" class="text-shadow">AI Engineer | NLP | Backend Dev</span>
            </div>

            <div class="col-md-2  d-flex justify-content-end align-items-end">
                <div id="drag" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#about">Drag for more</a>
                </div>
            </div>

       
        </section>

        <section id="about" class="section-bg-even">
            <div class="container pt-5 pb-5">
                <div class="row w-100">
                    <div class="col-md-12">
                        <h2 class="section-title">About</h2>
                        
                        <p>Computer Engineer with focus on AI and Data Science. 
                            I consider myself a t-shaped professional, 
                            I believe that this way I acquire a broader vision when solving problems. 
                            I love teaching and solve problems.
    
                        </p>
                    </div>
                </div>
    
                <div class="row mt-4">
                    <div class="col-md-4">
                        <img class="img-fluid shadow" src="../static/img/profile.jpeg" alt="Profile Image">
                    </div>
    
                    <div class="col-md-8">
                        <h3>Graduate Teacher Assistent</h3>
                        <p>Currently, I teach Computer Programming Techniques in the 
                            Universidad de las Ciencias Informaticas. We work with Java in the following contents: 
                            algorithm analysis, data structures, lineal algorithms and trees.</p>
                        
                        <div class="row mt-3 mb-3">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-6">
                                    <li class="list-group-item">
                                        BD: <span class="fw-lighter fst-italic">Dec 16 of 1996</span>
                                    </li>
                                    <li class="list-group-item">
                                        Age: <span class="fw-lighter fst-italic">26</span>
                                    </li>
                                    <li class="list-group-item">
                                        City: <span class="fw-lighter fst-italic">Luanda</span>
                                    </li>
                                    <li class="list-group-item">
                                        Province: <span class="fw-lighter fst-italic">Luanda</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 info-r">
                                <ul class="list-group list-group-flush fs-6">
                                    <li class="list-group-item">
                                        Hobby: <span class="fw-lighter fst-italic">Classical music, Soccer</span>
                                    </li>
                                    <li class="list-group-item">
                                        Work: <span class="fw-lighter fst-italic">Freelancer</span>
                                    </li>
                                    <li class="list-group-item">
                                        Open to Work: <span class="fw-lighter fst-italic">Yes</span>
                                    </li>
                                    <li class="list-group-item">
                                        Work Experience: <span class="fw-lighter fst-italic">+2</span>
                                    </li>
                                </ul>
                            </div>
                        </div>   
    
                        <p>In addition to teaching programming, I also study artificial intelligence and data science at the data science academy brazil. I'm constantly doing projects to solve everyday or business problems using machine learning techniques. In the last two years I've worked a lot with natural language processing.</p>
                    </div>
    
    
                </div>
            </div>
        </section>

        <section id="skills" class="section-bg-odd">
            <div class="container pt-5 pb-5">
                <h2 class="section-title">Skills</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam est hic laborum dolor
                     omnis nam, architecto animi aut quasi at dolorum quisquam deserunt voluptatem sapiente
                     placeat ullam iure rem ut.</p>

               <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                    </div>
               </div> 

               <hr class="w-50 me-auto ms-auto mt-5">

               <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Creative Thinking</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                        <p class="mt-3 mb-0">Creative Thinking</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                        <p class="mt-3 mb-0">Creative Thinking</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Creative Thinking</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                        <p class="mt-3 mb-0">Creative Thinking</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                        <p class="mt-3 mb-0">Creative Thinking</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                    </div>
               </div>
            </div>
        </section>

        <section id="resume" class="section-bg-even res">
            <div class="container pt-5 pb-5">
                <h2 class="section-title pb-4">Resume</h2>
                
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="resume-title">Education</h3>
                        
                        <div class="resume-item">
                            <h4>Data Scientist Training</h4>
                            <h5>Aug 2022 - Aug 2024</h5>
                            <p><em>Data Science Academy, Brasil</em></p>
                            <p>Big Data Analytics wiyh R & Microsoft Azure Machine Learning, Data Engineer with Hadoop & Spark, Machine Learning, Business Analytics</p>
                        </div>

                        <div class="resume-item">
                            <h4>Artificial Intelligence Training</h4>
                            <h5>Jul 2021 - Jul 2023</h5>
                            <p><em>Data Science Academy, Brasil</em></p>
                            <p>GPU Parallel Programming, Deep Learning Frameworks, Computer Vision and Image Recognition, Natural Language Processing and Speech Recognition</p>
                        </div>

                        <div class="resume-item">
                            <h4>Engineering in Computer Science</h4>
                            <h5>Nov 2017 - Dec 2022</h5>
                            <p><em>Universidad de las Ciencias Informáticas, Cuba</em></p>
                            <p>GPA: 4.23/5, Teacher Assistant of Discrete Math & Computer Programming, Jury of the Scientific Competition UCI 2022</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="resume-title">Professional</h3>

                        <div class="resume-item">
                            <h4>Undergraduate Teaching Assistant</h4>
                            <h5>Apr 2022 - Dec 2022</h5>
                            <p><em>Universidad de las Ciencias Informáticas, Cuba</em></p>
                            <p>Teach the practical classes of Discrete Math II and Computer Programming Techniques. Contents: combinatorial theory, recurrence relations, graph theory, algorithm analysis, data structures, algorithms and trees. Teach for around 28 students and more than 60 students In times of exams and/or important evaluations.</p>
                        </div>

                        <div class="resume-item">
                            <h4>Artificial Intelligence Intern</h4>
                            <h5>Apr 2020 - Jul 2022</h5>
                            <p><em>Universidad de las Ciencias Informáticas, Cuba</em></p>
                            <p>Research AI algorithms suitable for text-to-image translation. Built a system for a text to pictogram translator for children with speech difficulties. Use semantic similarity approach to create a semantic search engine for pictograms with the BERT model and the HNSW algorithm. Performed NLP tasks such as grammatical labeling, lemmatization and named entity recognition with spacy to improve the search.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio" class="section-bg-odd">
            <div class="container pt-5 pb-5">
                <h2 class="section-title pb-4">Portfolio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide carousel-cust" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <h4 class="text-center">Data Science Projects</h4>

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/portfolio/fraud_dectection.png" class="card-img-top" alt="Fraud Detection">
                                        <div class="card-body">
                                            <h5 class="card-title">Fraud detection in real estate transactions</h5>
                                            <p class="card-text">Assign a score to each transaction and detect if it's a fraud or not.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/bentobenack/deteccao_de_fraudes_em_transacoes_imobiliarias" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/portfolio/supplay_chain_risk_detec.png" class="card-img-top" alt="Predicting Risks in Supply Chain">
                                        <div class="card-body">
                                            <h5 class="card-title">Predicting Risks in Supply Chain</h5>
                                                <p>Predicting the risk of delay in the delivery of products after purchase.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/bentobenack/prevendo_riscos_em_supply_chain_com_pyspark" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/portfolio/criptocurrency.png" class="card-img-top" alt="Predicting Cryptocurrency Quotes in Real Time">
                                        <div class="card-body">
                                            <h5 class="card-title">Predicting Cryptocurrency Quotes in Real Time</h5>
                                            <p class="card-text">A model capable of predicting the price of bitcoin.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/bentobenack/prevendo_a_cotacao_de_criptomoedas_em_tempo_real_com_pyspark_e_machine_learning" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <h4 class="text-center">NLP Projects</h4>
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/portfolio/text2picto_translator.png" class="card-img-top" alt="Text to Pictogram Translator using NLP">
                                        <div class="card-body">
                                            <h5 class="card-title">Text to Pictogram Translator using NLP</h5>
                                            <p class="card-text">Picto-translator (SCAA) to people with speech difficulties.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/bentobenack/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/portfolio/word2vec_semantic_similarity.png" class="card-img-top" alt="Semantic Similarity with Word2vec">
                                        <div class="card-body">
                                            <h5 class="card-title">Calculate Semantic Similarity with Word2vec</h5>
                                                <p>Train a model to use as a semantic similarity approach using Word2vec.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/bentobenack/word2vec_semantic_similarity" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/portfolio/pos_tag_hmm.png" class="card-img-top" alt="PoS-Tagging with Hidden Markov Model">
                                        <div class="card-body">
                                            <h5 class="card-title">PoS-Tagging with Hidden Markov Model</h5>
                                            <p class="card-text">Create a PoS-Tagger with Hidden Markov Model.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/bentobenack/hmm_viterbi_pos_tagging" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <!-- Code line numbers-->
        <div class="line-numbers__NumbersContainer-sc-1o5ipec-0 code-line-numbers">
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2020ms;">1</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2040ms;">2</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2060ms;">3</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2080ms;">4</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2100ms;">5</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2120ms;">6</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2140ms;">7</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2160ms;">8</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2180ms;">9</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2200ms;">10</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2220ms;">11</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2240ms;">12</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2260ms;">13</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2280ms;">14</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2300ms;">15</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2320ms;">16</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2340ms;">17</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2360ms;">18</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2380ms;">19</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2400ms;">20</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2420ms;">21</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2440ms;">22</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2460ms;">23</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2480ms;">24</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2500ms;">25</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2520ms;">26</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2540ms;">27</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2560ms;">28</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2580ms;">29</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2600ms;">30</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2620ms;">31</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2640ms;">32</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2660ms;">33</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2680ms;">34</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2700ms;">35</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2720ms;">36</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2740ms;">37</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2760ms;">38</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2780ms;">39</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2800ms;">40</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2820ms;">41</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2840ms;">42</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2860ms;">43</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2880ms;">44</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2900ms;">45</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2920ms;">46</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2940ms;">47</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2960ms;">48</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 2980ms;">49</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3000ms;">50</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3020ms;">51</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3040ms;">52</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3060ms;">53</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3080ms;">54</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3100ms;">55</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3120ms;">56</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3140ms;">57</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3160ms;">58</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3180ms;">59</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3200ms;">60</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3220ms;">61</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3240ms;">62</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3260ms;">63</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3280ms;">64</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3300ms;">65</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3320ms;">66</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3340ms;">67</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3360ms;">68</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3380ms;">69</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3400ms;">70</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3420ms;">71</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3440ms;">72</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3460ms;">73</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3480ms;">74</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3500ms;">75</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3520ms;">76</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3540ms;">77</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3560ms;">78</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3580ms;">79</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3600ms;">80</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3620ms;">81</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3640ms;">82</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3660ms;">83</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3680ms;">84</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3700ms;">85</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3720ms;">86</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3740ms;">87</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3760ms;">88</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3780ms;">89</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3800ms;">90</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3820ms;">91</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3840ms;">92</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3860ms;">93</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3880ms;">94</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3900ms;">95</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3920ms;">96</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3940ms;">97</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3960ms;">98</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 3980ms;">99</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4000ms;">100</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4020ms;">101</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4040ms;">102</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4060ms;">103</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4080ms;">104</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4100ms;">105</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4120ms;">106</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4140ms;">107</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4160ms;">108</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4180ms;">109</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4200ms;">110</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4220ms;">111</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4240ms;">112</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4260ms;">113</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4280ms;">114</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4300ms;">115</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4320ms;">116</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4340ms;">117</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4360ms;">118</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4380ms;">119</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4400ms;">120</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4420ms;">121</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4440ms;">122</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4460ms;">123</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4480ms;">124</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4500ms;">125</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4520ms;">126</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4540ms;">127</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4560ms;">128</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4580ms;">129</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4600ms;">130</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4620ms;">131</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4640ms;">132</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4660ms;">133</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4680ms;">134</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4700ms;">135</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4720ms;">136</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4740ms;">137</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4760ms;">138</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4780ms;">139</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4800ms;">140</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4820ms;">141</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4840ms;">142</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4860ms;">143</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4880ms;">144</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4900ms;">145</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4920ms;">146</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4940ms;">147</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4960ms;">148</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 4980ms;">149</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5000ms;">150</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5020ms;">151</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5040ms;">152</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5060ms;">153</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5080ms;">154</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5100ms;">155</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5120ms;">156</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5140ms;">157</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5160ms;">158</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5180ms;">159</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5200ms;">160</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5220ms;">161</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5240ms;">162</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5260ms;">163</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5280ms;">164</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5300ms;">165</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5320ms;">166</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5340ms;">167</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5360ms;">168</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5380ms;">169</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5400ms;">170</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5420ms;">171</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5440ms;">172</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5460ms;">173</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5480ms;">174</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5500ms;">175</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5520ms;">176</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5540ms;">177</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5560ms;">178</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5580ms;">179</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5600ms;">180</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5620ms;">181</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5640ms;">182</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5660ms;">183</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5680ms;">184</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5700ms;">185</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5720ms;">186</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5740ms;">187</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5760ms;">188</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5780ms;">189</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5800ms;">190</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5820ms;">191</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5840ms;">192</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5860ms;">193</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5880ms;">194</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5900ms;">195</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5920ms;">196</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5940ms;">197</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5960ms;">198</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 5980ms;">199</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6000ms;">200</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6020ms;">201</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6040ms;">202</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6060ms;">203</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6080ms;">204</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6100ms;">205</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6120ms;">206</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6140ms;">207</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6160ms;">208</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6180ms;">209</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6200ms;">210</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6220ms;">211</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6240ms;">212</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6260ms;">213</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6280ms;">214</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6300ms;">215</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6320ms;">216</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6340ms;">217</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6360ms;">218</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6380ms;">219</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6400ms;">220</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6420ms;">221</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6440ms;">222</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6460ms;">223</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6480ms;">224</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6500ms;">225</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6520ms;">226</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6540ms;">227</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6560ms;">228</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6580ms;">229</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6600ms;">230</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6620ms;">231</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6640ms;">232</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6660ms;">233</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6680ms;">234</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6700ms;">235</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6720ms;">236</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6740ms;">237</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6760ms;">238</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6780ms;">239</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6800ms;">240</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6820ms;">241</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6840ms;">242</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6860ms;">243</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6880ms;">244</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6900ms;">245</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6920ms;">246</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6940ms;">247</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6960ms;">248</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 6980ms;">249</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 7000ms;">250</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 7020ms;">251</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 7040ms;">252</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 7060ms;">253</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 7080ms;">254</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 7100ms;">255</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 7120ms;">256</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 7140ms;">257</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 7160ms;">258</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 7180ms;">259</div>
            <div class="line-numbers__Number-sc-1o5ipec-1 crWftV" style="animation-duration: 7200ms;">260</div>
        </div>
    </main>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>